body {
    width: 300px;
    margin: 10px;
    white-space: nowrap;
}

h1 {
    font-size: 15px;
}

#currentTime:before {
    content: 'Current Time: ';
}

#typicalTime:before {
    content: 'Typical Time: ';
}